body{
    background-color: #212121;
    color: whitesmoke;
}
header{
    color: whitesmoke;
    width: 100%;
}
header div a img{
    width: 60px;
}
.nav-link{
    color: whitesmoke;
}
.nav-link:hover{
    color: red;
}
.navbar{
    background-color: #212529;
}
.accordion{
    background-color: #212529;
}
.modal{
    color: #212121;
}
.card{
    background-color: #212529;
    color: whitesmoke;
}
.card-header h2{
    color: whitesmoke;
}
.navbar-toggler{
    background-color: #757575;
}