body{
    background-color: #212121;
    color: white;
}
header{
    color: whitesmoke;
    width: 100%;
}
header div a img{
    width: 60px;
}
.nav-link{
    color: whitesmoke;
}
.nav-link:hover{
    color: red;
}
.navbar{
    background-color: #212529;
}